/* gloal styles
----------------------------------------------- */

body {
    color: #343434;
}

img {
    width: 300px;
}

h1 {
    color: white;
    font-family: "Papyrus";  
}

#main-title {
    color: whitesmoke;
}

a {
    color: #008000;
}

a:hover {
    text-decoration: none;
}

/* profile 
----------------------------------------------- */

header {
    background: #201E1F;
    padding: 8px;
    color: white;
}

/* projects 
----------------------------------------------- */

.projects {
    background: white;
    padding: 8px;
}

.projects a {
    display: inline-block;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
    color: gold;
    background: rgb(0, 191, 255);
    text-decoration: none;
}

.projects a:hover {
    background: rgba(0, 191, 225, 70%);
    /* outline: 1px solid black; */
}

/* work experience 
----------------------------------------------- */

.work-experience {
    background: #FF4000;
    padding: 8px;
}

/* education 
----------------------------------------------- */

.education {
    background: #FAAA8D;
    padding: 8px;
}

/* publications 
----------------------------------------------- */

.publications {
    background: #FEEFDD;
    padding: 8px;
}

/* contact 
----------------------------------------------- */

.contact {
    background: #50B2C0;
    padding: 8px;
}

#small-note {
    font-size: small;
}