/* global styles
----------------------------------------------- */

html {
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;
}

img {
    width: 300px;
}

h1, h2 {
    /* color: white; */
    font-family: "Papyrus";  
}

#main-title {
    color: whitesmoke;
}

a {
    color: #044904;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
	max-width: 800px;
	margin: 0 auto;
    padding: 40px 0
}

.divider > section {
    border-bottom: thin dashed #4b4b4b;
    padding: 10px 0;
}

.divider > section:last-of-type {
    border-bottom: none;
}

/* profile 
----------------------------------------------- */

header {
    background: #201E1F;
    color: white;
    text-align: center;
}

/* projects 
----------------------------------------------- */

.projects {
    background: white;
}

.projects a {
    display: inline-block;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
    color: gold;
    background: rgb(0, 191, 255);
    box-shadow: 0 4px 8px grey;
    text-decoration: none;
}

.projects a:hover {
    background: rgba(0, 191, 225, 70%);
    /* outline: 1px solid black; */
}

.project-item {
    overflow: hidden;
    /* border-bottom: 1px dashed #343434;
    padding: 25px 0; */
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

/* work experience 
----------------------------------------------- */

.work-experience {
    background: #ff6600;
}

.job-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 20px 0;
    /* grid-template-columns: 1fr 2fr; */
    /* column-gap: 20px; */
}


.job-details h3 {
    margin-top: 0;
}

.job-summary {
    margin-top: -10px;
}

.job-details h4 {
    margin-bottom: 0;
}

/* education 
----------------------------------------------- */

.education {
    background: #FAAA8D;
}

.edu-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* padding: 20px 0; */
    /* grid-template-columns: 1fr 2fr; */
    /* column-gap: 20px; */
}

.edu-details h4 {
    margin: 0;
}

.edu-details p {
    margin-top: 0;
}

.edu-details {
    margin-top: 0;
}

.edu-summary {
    margin-top: 0;
}

/* publications 
----------------------------------------------- */

.publications {
    background: #FEEFDD;
}

/* contact 
----------------------------------------------- */

.contact {
    background: #50B2C0;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}


#small-note {
    font-size: small;
}

