/* global styles
----------------------------------------------- */

html {
    box-sizing: border-box
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;
}

img {
    width: 300px;
}

h1, h2 {
    /* color: white; */
    font-family: "Papyrus";  
}

#main-title {
    color: whitesmoke;
}

a {
    color: #008000;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
	width: 800px;
	margin: 0 auto;
    padding: 60px 0
}

/* profile 
----------------------------------------------- */

header {
    background: #201E1F;
    color: white;
}

/* projects 
----------------------------------------------- */

.projects {
    background: white;
}

.projects a {
    display: inline-block;
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 4px;
    color: gold;
    background: rgb(0, 191, 255);
    box-shadow: 0 4px 8px grey;
    text-decoration: none;
}

.projects a:hover {
    background: rgba(0, 191, 225, 70%);
    /* outline: 1px solid black; */
}

.project-item {
    overflow: hidden;
    /* border-bottom: 1px dashed #343434;
    padding: 25px 0; */
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}

/* work experience 
----------------------------------------------- */

.work-experience {
    background: #FF4000;
}

/* education 
----------------------------------------------- */

.education {
    background: #FAAA8D;
}

/* publications 
----------------------------------------------- */

.publications {
    background: #FEEFDD;
}

/* contact 
----------------------------------------------- */

.contact {
    background: #50B2C0;
}

#small-note {
    font-size: small;
}